


/*navbar*/
body {
  padding-top: 3.25rem;
  padding-bottom: 0px;
  box-sizing: border-box;
}

@media (max-width: 767px) {
  body {
    padding-top: 3.25rem;
    padding-bottom: 45px;
  }
}
.m-navbar {
  padding:0.5rem;
  position: fixed;
  top: 0px;
  left: 0px;
  right : 0px;
  z-index: 999;
  border-bottom: solid 1px hsl(0, 0%, 86%);
}

.m-navbar-item {
  color: #4a4a4a;
  display: inline-block;
  line-height: 1.5;
  padding: 0.5rem 0.75rem;
  position: relative;
}

.m-navbar .m-navbar-left {
  display: inline-block;
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
}

.m-navbar .m-navbar-right {
  display: inline-block;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}

/*tab*/
.m-tab {
  display: inline-block;
  width: 20%;
  height: 45px;
  line-height: 45px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  color: #4a4a4a;
  text-align: center;
  font-size: 1rem;
}

.m-tab-bar .router-link-exact-active {
  color: #565656;
  border-bottom: solid 2px #565656;
}

.m-tab-bar {
  position: fixed;
  z-index: 9990;
  font-size:0;
  border-top: solid 1px hsl(0, 0%, 86%);
  top: 0;
  left: 150px;
  right: 150px;
}

.m-tab-contents {
  padding-bottom: 50px;
}

@media (max-width: 767px) {
  .m-tab {
    background-color: hsl(0, 0%, 96%);
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .m-tab-bar .router-link-exact-active{
    background-color: #565656;
    color: #ffffff;
  }
  .m-tab-bar {
    position: fixed;
    top:auto;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: hsl(0, 0%, 96%);
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.fade-move {
  transition: transform .5s;
}

.fadeup-enter-active, .fadeup-leave-active {
  transition: all .3s ease-out;
}
.fadeup-enter, .fadeup-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0.9;
  transform: translateY(100vh);
}

.fadedown-enter-active, .fadedown-leave-active {
  transition: all .5s ease-out;
}
.fadedown-enter, .fadedown-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0.5;
  transform: translateY(-100vh);
}

img, router-view{
    background-image: url("/storage/gload.gif");
    background-repeat: no-repeat;
    background-position: center center;
}

.center-box{
    position: fixed;
    height: 150px;
    width: 150px;
    background: #efefef;
    text-align: center;
    top:calc(50% - 150px/2);
    left:calc(50% - 150px/2);
    line-height: 30px;
    padding: 40px 0 40px 0;
    z-index: 999999;
    border-radius: 20px;
    opacity: 0.7;
    transition: all .3s ease;
}

.block-box {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999998;
}

.blur {
  filter: blur(10px) grayscale(80%);
  transition: all .3s ease;
}

.m-notification {
  position: fixed;
  top: 1rem;
  right: 1rem;
  left: 1rem;
  min-height: 2rem;
  z-index: 999998;
  display: block;
  box-shadow: 0px 0px 50px 50px rgba(0,0,0,0.4);
}

.smartphoto {
  z-index: 100000000000;
}
