/*profile*/
.m-profile {
  text-align: center;
  margin: 0 auto;
}

.m-profile-img {
  height: 128px;
  margin-bottom: 52px;
  position: relative;
}

.m-profile figure {
  position: absolute;
  bottom: -48px;
  left: 50%;
  margin-left: -48px;
}

.m-profile img {
  border: solid 2px white;
  border-radius:100px;
}

/*navbar*/
body {
  padding-top: 3.25rem;
}

.m-navbar {
  padding:0.5rem;
  position: fixed;
  top: 0px;
  left: 0px;
  right : 0px;
  z-index: 999;
}

.m-navbar-item {
  color: #4a4a4a;
  display: inline-block;
  line-height: 1.5;
  padding: 0.5rem 0.75rem;
  position: relative;
}

.m-navbar .m-navbar-left {
  display: inline-block;
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
}

.m-navbar .m-navbar-right {
  display: inline-block;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}

/*tab*/
.m-tab {
  display: inline-block;
  width: calc(100%/5);
  height: 45px;
  line-height: 45px;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  background-color: #ffffff;
  text-align: center;
}

.m-tab-active {
  background-color: #ffffff;
  color: #565656;
  border-bottom: solid 2px #565656;
}

.m-tab-bar {
  position: static;
  z-index: 999;
}

.m-tab-contents {
  padding-bottom: 50px;
}

@media (max-width: 767px) {
  .m-tab {
    background-color: hsl(0, 0%, 96%);
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .m-tab-active {
    background-color: #565656;
    color: #ffffff;
  }
  .m-tab-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
